<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="appointment.css">
</head>
<body>
    <header>
        <h1 class="dentist_header">
            DENTYSTA+
        </h1>
        <nav>
            <ul class="nav__links">
                <li><a href="#"><img src="visits_img.png" class="nav_buttons"></a></li>
                <li><a href="#"><img src="calendar_img.png" class="nav_buttons"></a></li>
                <li><a href="#"><img src="patients_img.png" class="nav_buttons"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="user_information">
            <p>Tomasz Kowalski</p>
            <p>PESEL: 92050168393</p>
            <p>Termin wizyty: 28.03.2023 15:00-15:30</p>
            <p>Lekarz: Andrzej Nowak</p>
            <p>Gabinet nr: 1</p>
        </div>
        <div class="content_container">
            <div class="left_container">
                <div class="teeth">
                    <div class="gum gum_top">
                        <p>Szczęka górna</p>
                    </div>
                    <div class="numbers">
                        <p>18</p>
                        <p>17</p>
                        <p>16</p>
                        <p>15</p>
                        <p>14</p>
                        <p>13</p>
                        <p>12</p>
                        <p>11</p>
                        <p>21</p>
                        <p>22</p>
                        <p>23</p>
                        <p>24</p>
                        <p>25</p>
                        <p>26</p>
                        <p>27</p>
                        <p>28</p>
                    </div>
                    <div class="jaw">
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                    </div>
                    <div class="jaw">
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                        <div class="jaw_tooth"></div>
                    </div>
                    <div class="numbers">
                        <p>48</p>
                        <p>47</p>
                        <p>46</p>
                        <p>45</p>
                        <p>44</p>
                        <p>43</p>
                        <p>42</p>
                        <p>41</p>
                        <p>31</p>
                        <p>32</p>
                        <p>33</p>
                        <p>34</p>
                        <p>35</p>
                        <p>36</p>
                        <p>37</p>
                        <p>38</p>
                    </div>
                    <div class="gum gum_bottom">
                        <p>Szczęka dolna</p>
                    </div>
                    </div>

                    <div class="services">
                        <div class="services__element">
                            <p>Cena:</p>
                            <p>180 PLN</p>
                        </div>
                        <div class="services__element">
                            <p>Floryzacja:</p>
                            <p>150 PLN</p>
                        </div>
                        <div class="services__element">
                            <p>Znieczulenie:</p>
                            <p>30 PLN</p>
                        </div>
                    </div>
                </div>
                <div class="right_container">
                    <div class="menu">
                        <div class="menu_diagnosis menu__element">
                            <p>Rozpoznanie</p>
                        </div>
                        <div class="menu_services menu__element">
                            <p>Usługi</p>
                        </div>
                    </div>
                    <div class="list">
                    </div>
                </div>
            </div>
            
        </div>
    </main>
</body>
</html>