<html lang="en">
<head>
    <link rel="stylesheet" href="form.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <div class="navbar__container">
        <div class="navbar__logo">
            <p>
                Dentysta+
            </p>
        </div>
        <div class="navbar__buttons">
            <nav>
                <a href="login.html" class="login__button">Login</a>
                <a href="sign.html" class="sign__button">Sign up</a>
            </nav>
        </div>
    </div>
    <div class="main_content">
    </div>

</body>
</html>