<html lang="en">
<head>
    <link rel="stylesheet" href="index.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <div class="navbar__container">
        <div class="navbar__logo">
            <p>
                Dentysta+
            </p>
        </div>
        <div class="navbar__buttons">
            <nav>
                <a href="login.html" class="login__button">Login</a>
                <a href="sign.html" class="sign__button">Sign up</a>
            </nav>
        </div>
    </div>
    <div class="main_content">
        <p class="p__main_text">PROGRAM, KTÓRY POLUBISZ OD PIERWSZEGO KLIKNIĘCIA</p>
        <p class="p__second_text">Nasza platforma to gwarancja bezpieczeństwa i poufności Twoich danych medycznych.
            Elektroniczna historia pacjenta ułatwi Ci prowadzenie skutecznego leczenia oraz monitorowanie postępów.</p>
    </div>

</body>
</html>