<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="login.css">
    <!-- <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;600&family=Nunito&display=swap" rel="stylesheet">    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 class="dentist_header">
        DENTYSTA+
    </h1>
    </div>
    <img src="dentist_sign_in.png">
    <div class="container__signup">
    <span class="sign_txt">Sign in</span>
    <div>
        <input type="text" value="USERNAME"  class="signup_input" name="login">
    </div>
    <div>
        <input type="text" value="PASSWORD" class="signup_input" name="password">
    </div>
    <button type="text" class="submit_button" name="login">LOGIN</button>  
</body>
</html>

