@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #EEEDDE;
}

.dentist_header{
    font-family: "Nunito";
    background-color: #001E6A;
    color:white;
}

li, a, button {
    font-family: "Nunito";
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header{
    background-color: #001E6A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.logo{
    cursor: pointerl;
}

.nav__links{
    list-style: none;
    background-color: #001E6A;
}


.nav__links li{
    display: inline-block;
    padding: 0px 60px;
    background-color: #001E6A;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
    background-color: #001E6A;
}

.nav__links li a:hover{
    color: #0088a9;
}

.nav_buttons{
    background-color: #001E6A;
    width: 80px;
    height: auto;
}

.cta{
    /* dosłownie tylko po to by dać backgound color */
    background-color: #001E6A;
}


button:hover{
    background-color: rgba(0,136,169,0.8);
}

main {
    display: flex;
}

.user_information {
    width: 500px;
    height: 500px;
    background-color: aqua;
}

.content_container{
    width: 500px;
    height: 500px;
    background-color: aqua;
}

