<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="visits.css">
</head>
<body>
    <header>
        <h1 class="dentist_header">
            DENTYSTA+
        </h1>
        <nav>
            <ul class="nav__links">
                <li><a href="#"><img src="visits_img.png" class="nav_buttons"></a></li>
                <li><a href="#"><img src="calendar_img.png" class="nav_buttons"></a></li>
                <li><a href="#"><img src="patients_img.png" class="nav_buttons"></a></li>
            </ul>
        </nav>
    </header>
    <ul class="main_page">
        <ul class="visits">
            <h1 class="wizyty_header">Wizyty</h1>
            <li>
                <!-- <span class="user_field1">Jan Kowalski</span>
                <span class="user_field1">18.05.2023</span> -->
                <div class="text-fields">
                    <div class="text-field first">
                      <p class="add_text_background_color">Jan Kowalski</p>
                    </div>
                    <div class="text-field">
                      <p class="add_text_background_color">18.05.2023</p>
                    </div>
                    <div class="text-field last">
                      <p class="add_text_background_color">13:30</p>
                    </div>
                  </div>
            </li>
            <li>
                <!-- <span class="user_field1">Jan Kowalski</span>
                <span class="user_field1">18.05.2023</span> -->
                <div class="text-fields">
                    <div class="text-field first">
                      <p class="add_text_background_color">Mariusz Nowak</p>
                    </div>
                    <div class="text-field">
                      <p class="add_text_background_color">18.05.2023</p>
                    </div>
                    <div class="text-field last">
                      <p class="add_text_background_color">15:30</p>
                    </div>
                  </div>
            </li>
        </ul>
        <h1><img src="calendar.png"></h1>
    </ul>
</body>
</html>