<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="visits.css">
</head>
<body>
    <header>
        <h1 class="dentist_header">
            DENTYSTA+
        </h1>
        <nav>
            <ul class="nav__links">
                <li><a href="#"><img src="visits_img.png" class="nav_buttons"></a></li>
                <li><a href="#"><img src="calendar_img.png" class="nav_buttons"></a></li>
                <li><a href="#"><img src="patients_img.png" class="nav_buttons"></a></li>
            </ul>
        </nav>
    </header>
</body>
</html>